# True in development, False in production
DEBUG=True

FLASK_APP=run.py
FLASK_DEBUG=1

# If not provided, a random one is generated 
# SECRET_KEY=<YOUR_SUPER_KEY_HERE>

# If DB credentials (if NOT provided, or wrong values SQLite is used) 
DB_NAME DBjororatoso
DB_USERNAME admin
DB_PASS RoSoToRaJo12345!
DB_PORT 3306
DB_HOST : db-jo-ro-ra-to-so.cxuuycc20a22.us-west-2.rds.amazonaws.com

# Used for CDN (in production)
# No Slash at the end
ASSETS_ROOT=/static/assets

# SOCIAL AUTH Github
# GITHUB_ID=YOUR_GITHUB_ID
# GITHUB_SECRET=YOUR_GITHUB_SECRET
